@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins !important;
}

@font-face {
  font-family: "PoppinsLight";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  /* Light */
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  /* Medium */
}

@font-face {
  font-family: "PoppinsBold";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  /* Bold */
}

header {
  border: none !important;
}

.react-tel-input .form-control {
  width: 100% !important;
}

/* Stepper */
.mantine-Stepper-stepIcon {
  border-color: #00ccdc !important;
}

.mantine-Stepper-stepBody {
  padding-top: 0.7rem;
  color: black;
}

.mantine-Stepper-step {
  color: #00ccdc !important;
}

.mantine-Stepper-stepCompletedIcon {
  background-color: #00ccdc !important;
  border-radius: 50%;
  width: 8 !important;
  height: 8 !important;
  font-size: 15px !important;
}

.mantine-Stepper-stepCompletedIcon svg {
  width: 40% !important;
  height: 30% !important;
}

.mantine-Stepper-stepIcon {
  width: 10px !important;
}

/* Check boxs */
.m_26063560:checked {
  background-color: #00ccdc !important;
  border-color: #00ccdc !important;
}

/* inputs */
.mantine-Input-input:focus {
  box-shadow: 0 0 1px 1px #00ccdc !important;
  border-color: #00ccdc !important;
}

.mantine-PasswordInput-input:focus {
  box-shadow: 0 0 1px 1px #00ccdc !important;
  border-color: #00ccdc !important;
}

.m_ccf8da4c:focus-within {
  box-shadow: 0 0 1px 1px #00ccdc !important;
  border-color: #00ccdc !important;
}

/* select list  */
.LanguagePicker_label__k7Kiu {
  color: #b3bac2;
  font-size: 15px !important;
  font-weight: normal !important;
}

.tabler-icon {
  color: #72777a !important;
}

.mantine-Menu-item:hover {
  background-color: #cce7ea;

  .mantine-Menu-itemLabel {
    color: #00ccdc !important;
  }
}

.pattern {
  animation: moving 30s linear infinite;
}
.patternY {
  animation: movingY 30s linear infinite;
  -webkit-animation: movingY 30s linear infinite;
}

@keyframes moving {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 2000px;
  }
}
@keyframes movingY {
  0% {
    background-position-y: 0px;
  }

  100% {
    background-position-y: 2000px;
  }
}
.activeCircle {
  position: relative;
}

.activeCircle::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 20px;
  top: 20px;
  background-color: #00ccdc;
  box-shadow: 0 0 10px #00ccdc;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 10px #00ccdc;
    transform: scale(1.1);
  }
  50% {
    box-shadow: 0 0 20px #00ccdc;
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 10px #00ccdc;
    transform: scale(1.1);
  }
}
